*{
    margin:"0";
    padding: "0";
    box-sizing: border-box;
}

.parent{
    position: absolute;
    top:0vh;
    width:99.8vw;
    height: auto;
    /* border:4px solid green;  */
    justify-content: center;
    align-self: center;
    background-image: linear-gradient(lightblue,rgb(176, 196, 197),white); 
}
.Navbar{
   
    width:100%;
    height: 80%;
    border:4px groove rgb(231, 225, 223);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:200%;
    
    
}
.link{
   text-decoration-line: none; 
   color:white;
   font-weight: bolder;
}
