*{
    margin:"0";
    padding: "0";
    box-sizing: border-box;
}

.parent{
    position: absolute;
    top:0vh;
    width:99.9vw;
    height: auto;
    /* border:4px solid green;  */
    justify-content: center;
    align-self: center;
    background-color: white;
}
.Navbar{
   
    width:100%;
    height: 100%;
    border:10px groove rgb(245, 240, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:180%;
    
    
}
.link{
   text-decoration-line: none; 
   color:black;
   font-weight: bolder;
}
